//! **************************************************************************
// Written by: Map P.20131013 on Thu Jun 27 16:45:17 2019
//! **************************************************************************

SCHEMATIC START;
COMP "led<0>" LOCATE = SITE "P46" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P47" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "clk" LOCATE = SITE "P129" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P49" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P50" LEVEL 1;
COMP "led<5>" LOCATE = SITE "P51" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P54" LEVEL 1;
COMP "led<7>" LOCATE = SITE "P55" LEVEL 1;
COMP "dipsw<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "dipsw<1>" LOCATE = SITE "P69" LEVEL 1;
COMP "dipsw<2>" LOCATE = SITE "P68" LEVEL 1;
COMP "dipsw<3>" LOCATE = SITE "P64" LEVEL 1;
COMP "dipsw<4>" LOCATE = SITE "P63" LEVEL 1;
COMP "dipsw<5>" LOCATE = SITE "P60" LEVEL 1;
COMP "dipsw<6>" LOCATE = SITE "P59" LEVEL 1;
COMP "dipsw<7>" LOCATE = SITE "P58" LEVEL 1;
COMP "load" LOCATE = SITE "P79" LEVEL 1;
TIMEGRP CLK = BEL "temp_0" BEL "temp_1" BEL "temp_2" BEL "temp_3" BEL "temp_4"
        BEL "temp_5" BEL "temp_6" BEL "temp_7" BEL "clk_BUFGP/BUFG.GCLKMUX"
        BEL "clk_BUFGP/BUFG";
SCHEMATIC END;

