//! **************************************************************************
// Written by: Map P.20131013 on Wed Mar 20 13:41:53 2019
//! **************************************************************************

SCHEMATIC START;
COMP "led0" LOCATE = SITE "P46" LEVEL 1;
COMP "sw0" LOCATE = SITE "P70" LEVEL 1;
COMP "sw1" LOCATE = SITE "P69" LEVEL 1;
SCHEMATIC END;

