//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 21 12:33:54 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "P129" LEVEL 1;
COMP "din" LOCATE = SITE "P70" LEVEL 1;
COMP "out0" LOCATE = SITE "P46" LEVEL 1;
COMP "c" LOCATE = SITE "P80" LEVEL 1;
NET "clk_BUFGP/IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

